<!-- Basic Navigation -->
<nav class="top-bar">
    <ul>
        <li class="name"><h1><a href="/app/">ScrumPlan</a></h1></li>
        <li class="toggle-topbar"><a href="#"></a></li>
    </ul>
    <section>
        <ul class="right">
            <li><a href="/app/manage">Manage</a></li>
            <li><a href="/app/board">Board</a></li>
            <li><a href="/app/list">List</a></li>
            <li><a href="/app/stats">Stats</a></li>
            <li><a href="/app/logout">Logout</a></li>
        </ul>
    </section>
</nav>