<!-- Header and Nav -->
<nav class="top-bar">
	<ul class="title-area">
		<!-- Title Area -->
		<li class="name">
			<h1><a href="/app/dashboard">ScrumPlan</a></h1>
		</li>
		<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
	</ul>
	<section class="top-bar-section">
		<!-- Left Nav Section -->
		<ul class="right">
			<!--
			<li class="has-dropdown">
				<a href="#">Manage</a>
				<ul class="dropdown">
					<li><a href="/app/manage/users">Users</a></li>
				</ul>
			</li>
			-->
			<li><a href="/app/board">Board</a></li>
			<li><a href="/app/stats">Stats</a></li>
			<li><a href="/app/settings">Settings</a></li>
			<li><a href="/app/logout">Logout</a></li>
		</ul>
	</section>
</nav>
<!-- End Header and Nav -->