<!-- Basic Navigation -->
<nav class="top-bar">
    <ul>
        <li class="name"><h1><a href="/app/dashboard">ScrumPlan</a></h1></li>
        <li class="toggle-topbar"><a href="#"></a></li>
    </ul>
    <section>
        <ul class="right">
            <li class="has-dropdown">
                <a href="#">Manage</a>
                <ul class="dropdown">
                    <li><a href="/app/manage/users">Users</a></li>
                    <li><a href="/app/manage/projects">Projects &amp; Tasks</a></li>
                </ul>
            </li>
            <li><a href="/app/board">Board</a></li>
            <li><a href="/app/stats">Stats</a></li>
            <li><a href="/app/logout">Logout</a></li>
        </ul>
    </section>
</nav>