<!-- Header and Nav -->
<div class="row">
    <nav class="top-bar">
        <ul class="title-area">
            <!-- Title Area -->
            <li class="name">
                <h1><a href="#">ScrumPlan</a></h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>
        <section class="top-bar-section">
            <!-- Left Nav Section -->
            <ul class="right">
                <li><a href="/login">Login</a></li>
                <li class="divider"></li>
                <li><a href="/register">Register</a></li>
            </ul>
        </section>
    </nav>
</div>
<!-- End Header and Nav -->