<% include header.ejs %>
<!-- Call to Action Panel -->
<div class="row">
    <div class="twelve columns">
        <div class="panel">
            <h4>Register for Scrum Plan</h4>
            <div class="row">
                <div class="ten columns">
                    <p>Enter the following details to get setup with your very own ScrumPlan account!</p>
                </div>
            </div>
            <hr />
            <div class="row">
                <form id="beta-form" action="/register" method="post">
                    <div class="row">
                        <div class="two columns">
                            <label class="right inline">First Name:</label>
                        </div>
                        <div class="seven columns">
                            <input type="text" name="first_name" placeholder="Enter Your First Name" class="twelve">
                        </div>
                        <div class="three columns">
                            <div class="error"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="two columns">
                            <label class="right inline">Last Name:</label>
                        </div>
                        <div class="seven columns">
                            <input type="text" name="last_name" placeholder="Enter Your Last Name" class="twelve">
                        </div>
                        <div class="three columns">
                            <div class="error"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="two columns">
                            <label class="right inline">Email Address:</label>
                        </div>
                        <div class="seven columns">
                            <input type="text" name="email" placeholder="Enter Your Email" class="twelve">
                        </div>
                        <div class="three columns">
                            <div class="error"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="two columns">
                            <label class="right inline">Password:</label>
                        </div>
                        <div class="seven columns">
                            <input type="password" name="password" placeholder="Enter a Password" class="twelve email">
                        </div>
                        <div class="three columns">
                            <div class="error"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="four columns">
                            
                        </div>
                        <div class="four columns">
                            <div class="error"></div>
                            <button class="success radius button left">Submit</a>
                        </div>
                    </div>
                </form>
            </div>
            <div id="beta-alert" class="alert-box" style="display:none;"></div>
        </div>
    </div>
</div>
<% include footer.ejs %>