.dashboard {
	.panel {
		&.personal {
			text-align: center;
			font-size: 0.8em;

			#org_count, #projects_count, .name, .email {
				display: inline-block;
				line-height: 20px;
			}

			#org_count, #projects_count {
				font-weight: bold;
			}
		}

		.button {
			&.secondary {
				display: block;
				margin: 0 auto;
			}
		}

		.options {
			a {
				display: inline-block;
			}
		}
		.projects {
			&.display {
				border-bottom: 1px dotted #D0D0D0;
				margin-bottom: 10px;
				padding-bottom: 10px;
				.items {
					font-weight: normal;
					margin-bottom: 0px;
					padding: 0 0 10px 25px;
					a {
						color: #000;
						font-size: 14px;
					}
				}
			}
		}

		.items {
			font-weight: bold;
			padding: 5px 0;
			margin-bottom: 5px;

			.options {
				text-align: right;
				a .gen-enclosed {
					font-size: 20px;
				}
				a .gen-enclosed:hover {
					color: #fff;
					cursor: pointer;
				}
			}
		}
	}
	.new {
		&.organization {
			display: none;
		}
		&.board {
			display: none;
		}
		&.project {
			display: none;
		}
	}
	.fc-header {
		border: 0px;
		margin-bottom: 0.25em;
	}
	.fc-header-title {
		h2 {
			font-size: 20px;
		}
	}
}


