<!-- Header and Nav -->
<div class="row">
    <div class="three columns">
        <h1>ScrumPlan</h1>
    </div>
    <div class="nine columns">
        <ul class="nav-bar right">
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </div>
</div>
<!-- End Header and Nav -->