<table class="scrum-board">
	<thead>
		<tr>
			<th>Project</th>
			<th>To Do</th>
			<th>In Progress</th> 
			<th>Verify</th>
			<th>Done</th> 
		</tr>
	</thead>
	<tbody>
		{% for project in projects %}
			<tr>
				<td>{{ project.name }}</td>
				<td>
					{% for task in tasks %}	
						{% if task.project_id == project._id  and task.status == "todo" %}
							<div class="task task-box" data-project-id="{{ task.project_id }}" data-task_status="{{ task.status }}" data-task-id="{{ task._id}}">{{ task.name }}</div>
						{% endif %}
					{% endfor%}
				</td>
				<td>
					{% for task in tasks %}	
						{% if task.project_id == project._id  and task.status == "inprogress" %}
							<div class="task task-box" data-project-id="{{ task.project_id }}" data-task_status="{{ task.status }}" data-task-id="{{ task._id}}">{{ task.name }}</div>
						{% endif %}
					{% endfor%}
				</td>
				<td>
					{% for task in tasks %}	
						{% if task.project_id == project._id  and task.status == "verify" %}
							<div class="task task-box" data-project-id="{{ task.project_id }}" data-task_status="{{ task.status }}" data-task-id="{{ task._id}}">{{ task.name }}</div>
						{% endif %}
					{% endfor%}
				</td>
				<td>
					{% for task in tasks %}	
						{% if task.project_id == project._id  and task.status == "done" %}
							<div class="task task-box" data-project-id="{{ task.project_id }}" data-task_status="{{ task.status }}" data-task-id="{{ task._id}}">{{ task.name }}</div>
						{% endif %}
					{% endfor%}
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>