{% extends 'user/layout/layout.html' %}
{% include 'user/layout/header.html' %}
{% block content %}
<!-- Call to Action Panel -->
<div class="board">
	<div class="actions">
		<button class="button secondary" id="new_project">Add New Project</button>
		<button class="button secondary" id="new_task">Add New Task</button>
	</div>
	<div class="display">
		{% include 'user/board/board.html' %}
	</div>
</div>
{% include 'user/board/modals.html' %}
<script src="/javascripts/jquery.formToJSON.js"></script>
<script src="/app/user/board.js"></script>
{% include 'user/layout/footer.html' %}
{% endblock %}