{% extends 'user/layout/layout.html' %}
{% include 'user/layout/header.html' %}
{% block content %}
<!-- Call to Action Panel -->
<div class="board">
	<div class="actions">
		<button class="button secondary" id="new_project">Add New Project</button>
		<button class="button secondary" id="new_task">Add New Task</button>
		<input type="hidden" value="{{ user._id }}" name="mid" />
	</div>
	<div class="display">
	</div>
</div>
{% include 'user/modals/task.html' %}
{% include 'user/modals/project.html' %}
<script src="user/creator.js"></script>
<script src="components/organizations.js"></script>
<script src="components/projects.js"></script>
<script src="components/tasks.js"></script>
<script src="/app/user/board.js"></script>
{% include 'user/layout/footer.html' %}
{% endblock %}