<% include ../layout/header.ejs %>
<!-- Call to Action Panel -->
<div id="content" data-app="board">
    <table class="scrum-board"></table>
</div>
<script src="/app/user/javascript/board.js"></script>
<% include ../layout/footer.ejs %>