<div id="create_project" class="reveal-modal expand">
	<h2>Create A New Project</h2>
	<form class="project-creation" method="post">
		<div class="row">
			<div class="two columns">
				<label class="right inline">Project Name:</label>
			</div>
			<div class="eight columns">
				<input type="text" name="project_name" class="eight project-name">
				<input type="hidden" name="organization_name" class="eight project-name" value="{{ organization_name }}">
			</div>
			<div class="two columns">
				<input type="submit" class="success radius button create" value="Create Project"/>
			</div>
		</div>
	</form>
	<a class="close-reveal-modal">&#215;</a>
</div>
<div id="create_task" class="reveal-modal expand">
	<h2>Create A New Task</h2>
	<form class="task-creation" method="post">
		<div class="row">
			<div class="two mobile-one columns">
				<label class="right inline">Project:</label>
			</div>
			<div class="ten mobile-three columns">
				<select class="project_select" name="project_name" style="width:250px;">
					{% for project in projects %}
						<option value="<%= projects[i].project_name%>">{{ project.project_name }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
		<div class="row">
			<div class="two mobile-one columns">
				<label class="right inline">Delegates:</label>
			</div>
			<div class="ten mobile-three columns">
				<select class="user_select" name="delegates" multiple style="width:250px;">
					{% if users.length > 0 %}
						{% for user in users %}
							<option value="{{ user.email }}">{{ user.firstname }} {{ user.lastname }} &#60; {{ user.email }} &#62;</option>
						{% endfor %}
					{% endif %}
				</select>
			</div>
		</div>
		<div class="row">
			<div class="two mobile-one columns">
				<label class="right inline">Task Name:</label>
			</div>
			<div class="ten mobile-three columns">
				<input type="text" name="task_name" placeholder="Describe the Task" class="eight name">
			</div>
		</div>
		<div class="row">
			<div class="two mobile-one columns">
				<label class="right inline">Time Estimate:</label>
			</div>
			<div class="ten mobile-three columns">
				<input type="text" name="time_estimate" class="eight time">
			</div>
		</div>
		<div class="row">
			<div class="two mobile-one columns">
				<label class="right inline">Priority:</label>
			</div>
			<div class="ten mobile-three columns">
				<select class="status priority_select" name="priority" style="width:250px;">
					<option value="1">Good to have</option>
					<option value="2">Not Important</option>
					<option value="3">Important</option>
					<option value="4">Very Important</option>
					<option value="5">Urgent</option>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="two mobile-one columns">
				<label class="right inline">Status:</label>
			</div>
			<div class="ten mobile-three columns">
				<select class="status status_select" name="status" style="width:250px;">
					<option value="1">To-do</option>
					<option value="2">In Progress</option>
					<option value="3">Verify</option>
					<option value="4">Done</option>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="two mobile-one columns">
				<label class="right inline">Notes:</label>
			</div>
			<div class="ten mobile-three columns">
				<textarea type="text" class="eight notes" name="notes"></textarea>
			</div>
		</div>
		<div class="actions row">
			<input type="hidden" name="organization_name" class="eight project-name" value="{{ organization_name }}">
			<input type="submit" value="Create Task" class="success radius button create">
		</div>
	</form>
	<a class="close-reveal-modal">&#215;</a>
</div>