<% include ../layout/header.ejs %>
<!-- Call to Action Panel -->
<div class="row">
    <div class="twelve columns">
            <h4>Welcome User!</h4>
            <div class="row">
                <div class="ten columns">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer arcu velit, imperdiet id malesuada vitae, euismod at dui. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam et lorem tortor, in varius odio. Aliquam quis dolor sollicitudin odio vestibulum lobortis. Sed viverra nisi id massa cursus porta. Vivamus turpis felis, rutrum non dignissim euismod, aliquam sed ligula. Nullam mollis tristique odio adipiscing pulvinar. Mauris justo lectus, hendrerit non volutpat ut, sodales sit amet nunc. Maecenas in urna sit amet dolor convallis congue. Aenean sapien enim, tristique a semper ut, venenatis non lectus.</p>

                    <p>Proin convallis condimentum ipsum ut malesuada. Nunc molestie, est sit amet aliquam posuere, metus est dignissim mauris, sed interdum sapien lacus quis sapien. Vivamus a diam arcu, id sagittis mauris. Nunc et velit felis. In ut urna dolor, vitae gravida dui. Proin faucibus dui sed purus pretium aliquet. Pellentesque vestibulum, augue vitae facilisis iaculis, erat augue mattis nisl, a tempus ligula nibh vitae risus. Nullam aliquet enim vel nibh congue laoreet. Fusce mauris lectus, volutpat vel ultrices at, fringilla a lacus. Donec vel viverra augue. Nunc convallis rhoncus tellus sit amet blandit.</p>
                </div>
            </div>
    </div>
</div>
<% include ../layout/footer.ejs %>