{% extends 'user/layout/layout.html' %}
{% include 'user/layout/header.html' %}
{% block content %}
<!-- Call to Action Panel -->
<div id="content" data-app="manage">
    <div class="row">
        <h4>People</h4>
    </div>
    <form class="person-creation" method="post" target="add/user">
        <div class="row">
            <div class="two mobile-one columns">
                <label class="right inline">First Name:</label>
            </div>
            <div class="ten mobile-three columns">
                <input type="text" name="first_name" placeholder="eg. Mitchell" class="eight first-name">
            </div>
        </div>
        <div class="row">
            <div class="two mobile-one columns">
                <label class="right inline">Last Name:</label>
            </div>
            <div class="ten mobile-three columns">
                <input type="text" name="last_name"  class="eight last-name">
            </div>
        </div> 
        <div class="row">
            <div class="two mobile-one columns">
                <label class="right inline">Email Address:</label>
            </div>
            <div class="ten mobile-three columns">
                <input type="text" name="email" class="eight">
            </div>
        </div>
        <div class="actions row">
            <input class="success radius button create" value="Create Person" type="submit">
            <a class="radius button cancel">Cancel</a>
        </div>
    </form>
</div>
{% include 'user/layout/footer.html' %}
{% endblock %}