<% include ../layout/header.ejs %>
<!-- Call to Action Panel -->
<div id="content" data-app="manage">
    <div class="row">
        <h4>People</h4>
    </div>
    <form class="person-creation">
        <div class="row">
            <div class="two mobile-one columns">
                <label class="right inline">First Name:</label>
            </div>
            <div class="ten mobile-three columns">
                <input type="text" placeholder="eg. Mitchell" class="eight first-name">
            </div>
        </div>
        <div class="row">
            <div class="two mobile-one columns">
                <label class="right inline">Last Name:</label>
            </div>
            <div class="ten mobile-three columns">
                <input type="text" class="eight last-name">
            </div>
        </div>
        <div class="row">
            <div class="two mobile-one columns">
                <label class="right inline">Title:</label>
            </div>
            <div class="ten mobile-three columns">
                <input type="text" class="eight title">
            </div>
        </div>
        <div class="row">
            <div class="two mobile-one columns">
                <label class="right inline">Gravatar Email:</label>
            </div>
            <div class="ten mobile-three columns">
                <input type="text" class="eight gravatar">
            </div>
        </div>
        <div class="row">
            <div class="two mobile-one columns">
                <label class="right inline">User ID:</label>
            </div>
            <div class="ten mobile-three columns">
                <input type="text" class="eight id">
            </div>
        </div>
        <div class="actions row">
            <a class="succes`s radius button create">Create Person</a>
            <a class="radius button cancel">Cancel</a>
        </div>
    </form>
</div>
<% include ../layout/footer.ejs %>