{% extends 'user/layout/layout.html' %}
{% include 'user/layout/header.html' %}
{% block head %}
<link rel="stylesheet" href="../stylesheets/css/fullcalendar.css" />
<script src="../javascripts/fullcalendar.min.js"></script>
<script src="../javascripts/gcal.js"></script>
{% endblock %}
{% block content %}
<!-- Call to Action Panel -->
<div class="dashboard row">
	<div class="large-12 columns">
		<br/>
		<div class="row">
			<div class="large-3 columns">
				<div class="side profile">
					{% include 'user/dashboard/profile.html' %}
				</div>
			</div>
			<div class="large-6 columns">
				<div class="organization"></div>
			</div>
			<div class="large-3 columns">
				<div class="calendar"></div>
				<div class="panel reminders">
					You have no reminders for this week
				</div>
			</div>
		</div>
	</div>
	<input type="hidden" name="mid" value="{{ user._id }}" />
</div>
{% include 'user/dashboard/modals/task.html' %}
{% include 'user/dashboard/modals/project.html' %}
<script src="components/organizations.js"></script>
<script src="components/projects.js"></script>
<script src="components/tasks.js"></script>
<script src="user/dashboard.js"></script>
{% include 'user/layout/footer.html' %}
{% endblock %}