<div class="panel">
	<h5>Organizations</h5>
	<div class="organization display">
			{% for organization in organizations %}
			<div class="row items">
				<div class="large-6 columns">
					<a href="#" class="active organizations">{{ organization.name }}</a>
				</div>
				<div class="large-6 columns options">
					<a href="#" class="org  new_project action" data-org-id="{{ organization._id }}"><i class="foundicon-plus"></i></a>
					<a href="#" class="org edit action" data-org-id="{{ organization._id }}"><i class="foundicon-tools"></i></a>
					<a href="#" class="org delete action" data-org-id="{{ organization._id }}"><i class="foundicon-remove"></i></a>
				</div>
			</div>
			<div class="projects display">
				{% if organization.projects.length > 0 %}
					{% for project in organization.projects %}
					<div class="row items">
						<div class="large-8 columns">
							<a href="/app/projects/{{ project._id }}" class="active projects">{{ project.name }}</a>
						</div>
						<div class="large-4 columns options">
							<a href="#" class="project edit" data-project-id="{{ project._id }}" data-organization-id="{{ organization._id}}"><i class="foundicon-tools"></i></a>
							<a href="#" class="project delete" data-project-id="{{ project._id }}" data-organization-id="{{ organization._id}}"><i class="foundicon-remove delete"></i></a>
							<a href="#" class="project add" data-project-id="{{ project._id }}" data-organization-id="{{ organization._id}}"><i class="foundicon-add-doc"></i></a>
						</div>
					</div>
					{% endfor %}
				{% endif %}
			</div>
			{% endfor %}
			<div class="row">
				<div class="large-12 column"><a href="#" class="button secondary small right create_organization">Create new Organization</a></div>
			</div>
			<!--
			<div class="row">
				<div class="large-12 column">
					It seems like you do not have any organizations.<br/> 
					Why not create one?
				</div>
			</div>
			<div class="row">
				<div class="large-12 column">
					<a href="#" class="button secondary small right create_organization">Create new Organization</a>
				</div>
			</div>
			-->
	</div>
	<div class="new organization">
		<div class="row">
			<div class="large-12 columns">
				Sweet, just give your organization a name and you should be good!
			</div>
		</div>
		<div class="row">
			<div class="large-12 columns">
				<input type="text" name="organization_name" />
			</div>
		</div>
		<div class="row">
			<div class="large-12 columns">
				<input type="button" class="button small left create" value="Create Organization"/>
				<input type="button" class="button secondary small right cancel" value="cancel"/>	
			</div>
		</div>
	</div>
</div>