<div class="panel">
	<h5>Organizations</h5>
	<div class="organization display">
		{% if organizations.length > 0 %}
				<div class="row">
				{% for organization in organizations %}
					<div class="large-12 columns">
						<a href="#" class="active organizations">{{ organization.name }}</a>
					</div>
				{% endfor %}
					<div class="large-12 column"><a href="#" class="button secondary small right create_organization">Create new Organization</a></div>
				</div>
		{% else %}
			<div class="row">
				<div class="large-8 column">It seems like you do not have any organizations.<br/> Why not create one?</div>
				<div class="large-4 column"><a href="#" class="button secondary small right create_organization">Create new Organization</a></div>
			</div>
		{% endif %}
	</div>
	<div class="new organization">
		<div class="row">
			<div class="large-12 columns">
				Sweet, just give your organization a name and you should be good!
			</div><br/><br/>
			<div class="large-7 columns">
				<input type="text" name="organization_name" />
			</div>
			<div class="large-5 columns">
				<input type="button" class="button small left create" value="Create Organization"/>
				<input type="button" class="button secondary small right cancel" value="cancel"/>	
			</div>
		</div>
	</div>
</div>