<div class="panel personal">
	<div class="row">
		<img src="http://www.gravatar.com/avatar/{{ user.md5Email }}?s=150" style="width:150px; border-radius: 50%" />
	</div>
	<div class="row">
		<br/>
		<p class="info">
			{{ user.first_name}} {{ user.last_name}}<br/>
			{{ user.email}}<br/>
			Organizations: {% if organizations.length > 0 %} {{ organizations.length }} {% else %} 0 {% endif %}<br/>
			Projects: {% if projects.length > 0 %} {{ projects.length }} {% else %} 0 {% endif %}<br/>
		</p>
	</div>
</div>