<div class="panel">
	<h5>Projects</h5>
	<div class="project display">
		{% for project in projects %}
		<div class="row items">
			<div class="large-8 columns">
				<a href="/app/projects/{{ project._id }}" class="active projects">{{ project.name }}</a>
			</div>
			<div class="large-4 columns options">
				<a href="#" class="edit" data-project-id="{{ project._id }}"><i class="gen-enclosed foundicon-tools"></i></a>
				<a href="#" class="delete" data-project-id="{{ project._id }}"><i class="gen-enclosed foundicon-remove delete"></i></a>
				<a href="#" class="add" data-project-id="{{ project._id }}"><i class="gen-enclosed foundicon-add-doc"></i></a>
			</div>
		</div>
		{% endfor %}
	</div>
</div>