<div class="panel">
	<h5>Tasks</h5>
	<div class="task display">
		{% if tasks.length > 0 %}
			<div class="row">
				<div class="large-6 columns">
					Task Name
				</div>
				<div class="large-3 columns">
					Status
				</div>
				<div class="large-3 columns">
					Due Date
				</div>
			</div>
			{% for task in tasks %}
			<div class="row">
				<div class="large-6 columns">
					<a href="#" class="active projects">{{ task.name }}</a>
				</div>
				<div class="large-3 columns">
					{{ task.status }}
				</div>
				<div class="large-3 columns">
					{{ task.due_date }}
				</div>
			</div>
			{% endfor %}
		{% else %}
			<div class="row">
				<div class="large-12 columns">
					You have no active tasks
				</div>
			</div>
		{% endif %}
	</div>
</div>